<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3
        fixed-top">
  <div class="container">
      <img src="/assets/img/logo.svg" href="#" alt="" width="50" height="44">
      <a href="#" class="navbar-brand">iFBB BA</a>
  
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
    <div class="collapse navbar-collapse d-flex" id="navmenu">
        <ul class="navbar-nav mx-auto justify-content-center">
          <li class="nav-item">
            <a href="#about" class="nav-link left-right">About</a>
          </li>
          <li class="nav-item">
            <a href="#questions" class="nav-link left-right">Questions</a>
          </li>
          <li class="nav-item">
            <a href="#app" class="nav-link left-right">App</a>
        </li>
      </ul>
      <form class="d-flex" action="">
        <button class="btn" type="submit"><a class="btn btn-swipe" 
          href="https://localhost:4200/login">Sign In</a></button>
        <button class="btn" type="submit"><a class="btn btn-swipe" 
          href="https://localhost:4200/register">Sign Up</a></button>
      </form>
    </div>
  </div>
</nav>