<!-- Homepage -->
<section class="bg-light text-dark p-5 text-center text-sm-start p-lg-0 pt-lg-5 bg-img">
  <div class="container">
      <div class="d-sm-flex align-itmes-center 
          justify-content-between">
          <div class="mr-4 w-75">
            <blockquote class="blockquote text-left">
            <h1>Sign Up and pay with your <br><span class="text-primary">virtual eCard</span></h1>
            <hr>
                <p class="lead my-4 h2">
                    Enrich yourself in short period. Get up to PLN 300 in total. Open an account and 
                    enjoy many opportunities
                </p>
                <p class="text-primary" style="font-size: 18px;">Start now 
                    <img src="assets/img/arrow-up-right.svg" style="height: 1.3rem; 
                    width: 1.5rem;"alt="arrow"></p>
            </blockquote>
            <div class="d-sm-flex align-itmes-center 
            justify-content-between mt-5 mx-1">
                <div>
                    <h5 class="h-bottom">Mobile App iFBB</h5>
                    <p class="text-muted my-2">
                        Account on your phone - download and activate the best app in the world
                    </p>
                    <img src="assets/img/mobile_app.svg" style="height: 10rem;" alt="phone">
                </div>
                <div class="mx-4">
                    <h5 class="h-bottom">Bitcoin Tracker</h5>
                    <p class="my-2 text-muted">
                        Blockchain information for Bitcoin (BTC) including historical prices, 
                        the most recently mined blocks etc.
                    </p>
                    <img src="assets/img/bitcoin.svg" style="height: 10rem;" alt="bitcoin">
                </div>
            </div>
          </div>
          <img 
              class="img-fluid w-50 d-none d-sm-block mb-5" 
              src="assets/img/pay_online.svg" 
              alt=""
              >
      </div>
  </div>
</section>
