body{
    background-color: rgba(0, 0, 139, 0.7);
}

.content-register{
    background-color: #fff;
    padding: 2rem 6rem 2rem 6rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .25);
}

.signing-txt{
    font-size: 2rem;
    font-style: normal;
    font-weight: 600 !important;
}

.btn-register{
    border-color: #00008B;
    color: #00008B;
}

.btn-register:hover{
    background-color:  rgba(0, 0, 139, 0.7);
    color: #fff;
}