<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline side-item"><strong>Welcome {{user.username}}</strong></span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink='/account-page' class="nav-link align-middle px-0">
                        <img src="assets/img/house.svg" style="height: 1.5rem; 
                        width: 1.5rem;"alt="arrow"> <span class="ms-1 d-none d-sm-inline side-item">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img src="assets/img/gear-wide.svg" style="height: 1.5rem; 
                        width: 1.5rem;"alt="arrow"> <span class="ms-1 d-none d-sm-inline side-item">Options</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-item ml-2">Edit Profile</span>
                              <img src="assets/img/person-circle.svg" class="ml-2" style="height: 1.5rem; 
                                width: 1.5rem;"alt="arrow"></a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-item ml-2">Show Credit Card</span>
                              <img src="assets/img/credit-card.svg" class="ml-2"style="height: 1.5rem; 
                                width: 1.5rem;"alt="arrow"></a>
                          </li>
                      </ul>
                  </li>
              </ul>
              <div class="pb-4">
                    <button class="btn" type="submit">
                        <a class="d-flex align-items-center text-decoration-none btn btn-swipe" 
                        routerLink='/'>Sign out</a>
                    </button>
              </div>
          </div>
      </div>
  </div>
</div>