.side-item{
    color: #00008B;
}

/* button sign out/ delete */
a.btn {
    display: inline-block;
    padding: 0.2rem 2rem;
    text-decoration: none;
    color: white;
}

.btn-swipe {
    position: relative;
    background-color: #00008B;
    z-index: 0;
    overflow: hidden;
    transition: color 0.3s cubic-bezier(0, .25, .5, 1);
}

.btn-delete{
  background-color: #B22222;
}

  
.btn-swipe:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    transform: translateX(-115%);
    transition: all 0.3s cubic-bezier(0, .25, .5, 1);
    background-color: #fff;
}

.btn-swipe:hover::before,
.btn-swipe:active::before {
  transform: translateX(0) scaleX(1.15);
}

.btn-swipe:hover,
.btn-swipe:active {
  color: #00008B;
}