<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile mr-3">
              <div class="user-avatar">
                <img src="assets/img/person-circle.svg" class="img-circle">
              </div>
              <h5 class="user-name">{{member.firstName}} {{member.lastName}} </h5>
              <h6 class="user-email">{{member.email}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-primary">Personal Details</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input [(ngModel)]="member.firstName" type="text" class="form-control" id="firstName"
                    placeholder="Enter first name" name="firstName">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input [(ngModel)]="member.lastName" type="text" class="form-control" id="lastName"
                    placeholder="Enter last name" name="lastName">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="eMail">Email</label>
                  <input [(ngModel)]="member.email" type="email" class="form-control" id="eMail"
                    placeholder="Enter email" name="email">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="username">Enter username</label>
                  <input [(ngModel)]="member.username" type="text" class="form-control" id="username"
                    placeholder="Username" name="userName">
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mt-3 mb-2 text-primary">Address</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="ciTy">City</label>
                  <input [(ngModel)]="member.city" type="text" class="form-control" id="city" placeholder="Enter City"
                    name="city">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input [(ngModel)]="member.country" type="text" class="form-control" id="country"
                    placeholder="Enter Country" name="country">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="postalCode">Postal Code</label>
                  <input [(ngModel)]="member.postalCode" type="text" class="form-control" id="postalCode"
                    placeholder="Postal Code" name="postalCode">
                </div>
              </div>
            </div>
          </form>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-outline-danger"
                  routerLink='/account-page'>Back to homepage</button>
                <button [disabled]="!editForm.dirty" form="editForm" type="submit" id="submit" name="submit"
                  class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
